<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	span {
	color: red;
}
</style>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
	<form action="#" th:action="@{/addUser}" method="post" th:object="${user}">
	
 		
        <label>email</label>
        <input type="text" th:field="*{email}" /><br/>
 		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
        
        <label>password</label>
        <input type="text" th:field="*{password}" /><br/>
 		<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>
 		
 		
        
        
 		<br><br>
        <button type="submit">Login user</button>   

</form>
</body>
</html>